% Enhanced reusable appendix component
% Provides dynamic appendix generation based on ContentTracker data
% Integrates with the unified content reference system

<@ if has_appendices @>

% Begin appendix section
\appendix

<@ if appendix_sections @>
<@ for section in appendix_sections @>
\chapter{<# section.title | latex_escape #>}
\label{app:<# section.id #>}

<@ if section.description @>
<# section.description | latex_escape #>

<@ endif @>

<#-- Render content based on section type --#>
<@ if section.type == "spells" @>
<@ if section.content @>
<@ for spell in section.content @>
<@ include '_spell_render_block.tex.j2' @>
<@ endfor @>
<@ else @>
\textit{No spells were referenced in this document.}
<@ endif @>

<@ elif section.type == "creatures" @>
<@ if section.content @>
<@ for creature in section.content @>
<@ include '_creature_render_block.tex.j2' @>
<@ endfor @>
<@ else @>
\textit{No creatures were referenced in this document.}
<@ endif @>

<@ elif section.type == "items" @>
<@ if section.content @>
<@ for item in section.content @>
<@ include '_item_render_block.tex.j2' @>
<@ endfor @>
<@ else @>
\textit{No magic items were referenced in this document.}
<@ endif @>

<@ elif section.type == "custom" @>
<#-- Custom appendix content --#>
<# section.content | safe #>

<@ endif @>

<@ endfor @>
<@ else @>
<#-- Legacy appendix format for backward compatibility --#>
<@ if spell_appendix @>
\chapter{Appendix A: Spells}
\label{app:spells}

This appendix contains all spells referenced in this document, organized alphabetically for quick reference.

<# spell_appendix #>
<@ endif @>

<@ if item_appendix @>
\chapter{Appendix B: Magic Items}
\label{app:items}

This appendix contains all magic items and equipment referenced in this document.

<# item_appendix #>
<@ endif @>

<@ if creature_appendix @>
\chapter{Appendix C: Creatures}
\label{app:creatures}

This appendix contains all creatures and monsters referenced in this document, organized by challenge rating.

<# creature_appendix #>
<@ endif @>
<@ endif @>

<@ if enable_index @>
\chapter{Index}
\label{app:index}
\printindex
<@ endif @>

<@ endif @>
