<# Enhanced typography template #>
<# Provides advanced typography features for professional D&D documents #>

<# Macro for drop caps #>
<# macro drop_cap(first_letter, next_word, content) #>
\lettrine{<# first_letter #>}{<# next_word #>}<# content #>
<# endmacro #>

<# Macro for fancy section headers #>
<# macro fancy_section(title, level=1, style="default") #>
<# if level == 1 #>
<# if style == "small_caps" #>
\section{\textsc{<# title #>}}
<# elif style == "bold" #>
\section{\textbf{<# title #>}}
<# else #>
\section{<# title #>}
<# endif #>
<# elif level == 2 #>
<# if style == "small_caps" #>
\subsection{\textsc{<# title #>}}
<# elif style == "italic" #>
\subsection{\textit{<# title #>}}
<# else #>
\subsection{<# title #>}
<# endif #>
<# elif level == 3 #>
<# if style == "bold" #>
\subsubsection{\textbf{<# title #>}}
<# elif style == "italic" #>
\subsubsection{\textit{<# title #>}}
<# else #>
\subsubsection{<# title #>}
<# endif #>
<# else #>
\paragraph{<# title #>}
<# endif #>
<# endmacro #>

<# Macro for emphasized game terms #>
<# macro game_term(text, emphasis="italic") #>
<# if emphasis == "italic" #>
\textit{<# text #>}
<# elif emphasis == "bold" #>
\textbf{<# text #>}
<# elif emphasis == "small_caps" #>
\textsc{<# text #>}
<# else #>
<# text #>
<# endif #>
<# endmacro #>

<# Macro for spell names #>
<# macro spell_name(name) #>
\emph{<# name #>}
<# endmacro #>

<# Macro for creature names #>
<# macro creature_name(name, cr=None) #>
<# if cr #>
\textbf{<# name #>} (CR <# cr #>)
<# else #>
\textbf{<# name #>}
<# endif #>
<# endmacro #>

<# Macro for proper quotes #>
<# macro fancy_quote(text, attribution=None) #>
<# if attribution #>
\enquote{<# text #>} ---~\textit{<# attribution #>}
<# else #>
\enquote{<# text #>}
<# endif #>
<# endmacro #>

<# Macro for read-aloud text #>
<# macro read_aloud(text) #>
\begin{quote}
\textit{<# text #>}
\end{quote}
<# endmacro #>

<# Macro for ability score formatting #>
<# macro ability_score(score, modifier=None) #>
<# if modifier is not none #>
<# score #> (<# "+" if modifier >= 0 else "" #><# modifier #>)
<# else #>
<# score #>
<# endif #>
<# endmacro #>

<# Macro for dice notation #>
<# macro dice(count, sides, modifier=None) #>
<# if modifier and modifier != 0 #>
<# count #>d<# sides #><# "+" if modifier > 0 else "" #><# modifier if modifier != 0 else "" #>
<# else #>
<# count #>d<# sides #>
<# endif #>
<# endmacro #>

<# Macro for currency formatting #>
<# macro currency(amount, type="gp") #>
<# amount #> <# type #>
<# endmacro #>

<# Macro for distance formatting #>
<# macro distance(amount, unit="feet") #>
<# amount #> <# unit if amount != 1 else unit.rstrip('s') #>
<# endmacro #>

<# Macro for small caps text #>
<# macro small_caps(text) #>
\textsc{<# text #>}
<# endmacro #>

<# Macro for proper em dashes #>
<# macro em_dash() #>
---
<# endmacro #>

<# Macro for proper ellipsis #>
<# macro ellipsis() #>
\ldots{}
<# endmacro #>

<# Macro for ordinal numbers #>
<# macro ordinal(number) #>
<# if number == 1 #>
1st
<# elif number == 2 #>
2nd
<# elif number == 3 #>
3rd
<# elif number in [21, 31, 41, 51, 61, 71, 81, 91] #>
<# number #>st
<# elif number in [22, 32, 42, 52, 62, 72, 82, 92] #>
<# number #>nd
<# elif number in [23, 33, 43, 53, 63, 73, 83, 93] #>
<# number #>rd
<# else #>
<# number #>th
<# endif #>
<# endmacro #>

<# Macro for proper fractions #>
<# macro fraction(numerator, denominator) #>
<# if numerator == 1 and denominator == 2 #>
\textonehalf{}
<# elif numerator == 1 and denominator == 4 #>
\textonequarter{}
<# elif numerator == 3 and denominator == 4 #>
\textthreequarters{}
<# else #>
\textfrac{<# numerator #>}{<# denominator #>}
<# endif #>
<# endmacro #>

<# Macro for kerning adjustments on problematic letter pairs #>
<# macro kern_text(text) #>
<# set text = text.replace('AV', 'A\\kern-0.1em V') #>
<# set text = text.replace('AW', 'A\\kern-0.1em W') #>
<# set text = text.replace('AY', 'A\\kern-0.1em Y') #>
<# set text = text.replace('FA', 'F\\kern-0.1em A') #>
<# set text = text.replace('LT', 'L\\kern-0.1em T') #>
<# set text = text.replace('PA', 'P\\kern-0.1em A') #>
<# set text = text.replace('TA', 'T\\kern-0.1em A') #>
<# set text = text.replace('VA', 'V\\kern-0.1em A') #>
<# set text = text.replace('WA', 'W\\kern-0.1em A') #>
<# set text = text.replace('YA', 'Y\\kern-0.1em A') #>
<# text #>
<# endmacro #>

<# Macro for automatic emphasis based on context #>
<# macro auto_emphasis(text, context="normal") #>
<# if context == "spell" #>
\emph{<# text #>}
<# elif context == "creature" #>
\textbf{<# text #>}
<# elif context == "item" #>
\textit{<# text #>}
<# elif context == "feature" #>
\textbf{<# text #>}
<# else #>
<# text #>
<# endif #>
<# endmacro #>

<# Macro for responsive text sizing #>
<# macro responsive_text(text, size="normal") #>
<# if size == "tiny" #>
\tiny <# text #>
<# elif size == "small" #>
\small <# text #>
<# elif size == "large" #>
\large <# text #>
<# elif size == "huge" #>
\huge <# text #>
<# else #>
<# text #>
<# endif #>
<# endmacro #>
