% Shared spell rendering block for use in both spellbook and spell_entry templates
% This macro can be included by both templates to ensure consistent rendering

<@ macro render_spell(spell) @>
\DndSpellHeader%
  {<# spell.name | latex_escape #>}
  {<# spell.get_level_text() | latex_escape #>}
  {<# spell.get_casting_time_text() | latex_escape #>}
  {<# spell.get_range_text() | latex_escape #>}
  {<# spell.get_components_text() | latex_escape #>}
  {<# spell.get_duration_text() | latex_escape #>}

<# spell.get_description_text() | safe #>

<@ if spell.get_higher_level_text() @>

<# spell.get_higher_level_text() | safe #>
<@ endif @>
<@ endmacro @>
