% Reusable appendix component
% Provides consistent appendix formatting for all document types

<@ if has_appendices @>

% Begin appendix section
\appendix
\part{Appendices}

<@ if spell_appendix @>
\chapter{Spells}
\label{app:spells}

This appendix contains all spells referenced in this document, organized alphabetically for quick reference.

<# spell_appendix #>
<@ endif @>

<@ if creature_appendix @>
\chapter{Creatures}
\label{app:creatures}

This appendix contains all creatures and monsters referenced in this document, organized by challenge rating.

<# creature_appendix #>
<@ endif @>

<@ if item_appendix @>
\chapter{Magic Items}
\label{app:items}

This appendix contains all magic items and equipment referenced in this document.

<# item_appendix #>
<@ endif @>

<@ if has_index @>
\chapter{Index}
\label{app:index}
\printindex
<@ endif @>

<@ endif @>
