% Article template for D&D 5e single-topic documents
% Uses dndarticle document class with structured content support

<@ extends "base.tex.j2" @>

<@ block document_packages @>
<# super() #>

% Additional packages for article layout
\usepackage{multicol}
\usepackage{wrapfig}
\usepackage{tikz}
\usepackage{tcolorbox}
\usepackage{titlesec}
<@ endblock @>

<@ block document_config @>
<# super() #>

% Article-specific configuration
\setlength{\columnsep}{1cm}
\setlength{\columnseprule}{0.1pt}

% Section styling for articles (only if not using DND template styling)
<@ if not use_dnd_template_styling @>
\titleformat{\section}
    {\normalfont\scshape\Large\color{DndRed}}
    {\thesection}{1em}{}

\titleformat{\subsection}
    {\normalfont\scshape\large}
    {\thesubsection}{1em}{}

\titleformat{\subsubsection}
    {\normalfont\scshape\normalsize}
    {\thesubsubsection}{1em}{}
<@ endif @>

% Configure section numbering depth for articles
<@ if metadata and metadata.numbering_depth @>
\setcounter{secnumdepth}{<# metadata.numbering_depth #>}
<@ endif @>
<@ endblock @>

<#-- Article content is handled by the modern structured content system in base.tex.j2 --#>
<@ block document_body @>
<@ if abstract @>
\begin{abstract}
<# abstract | safe #>
\end{abstract}
<@ endif @>
<@ endblock @>
