% Enhanced background template using DND-5e-LaTeX-Template environments
% Designed for D&D background rendering

<@ if use_subsection @>
\subsection{<# name #>}
<@ else @>
\subsubsection{<# name #>}
<@ endif @>

<@ if description @>
<# description #>

<@ endif @>

<@ if skill_proficiencies or tool_proficiencies or language_proficiencies @>
\textbf{Skill Proficiencies:} <@ if skill_proficiencies @><# skill_proficiencies #><@ else @>None<@ endif @>

<@ if tool_proficiencies @>
\textbf{Tool Proficiencies:} <# tool_proficiencies #>

<@ endif @>
<@ if language_proficiencies @>
\textbf{Languages:} <# language_proficiencies #>

<@ endif @>
<@ endif @>

<@ if equipment @>
\textbf{Equipment:} <# equipment #>

<@ endif @>

<@ if feature @>
\subsubsection{Feature: <# feature.name #>}
<# feature.description #>

<@ endif @>

<@ if personality_traits @>
\begin{DndTable}[header=Suggested Characteristics]{c X}
\textbf{d8} & \textbf{Personality Trait}\\
<@ for trait in personality_traits @>
<# trait.roll #> & <# trait.text #>\\
<@ endfor @>
\end{DndTable}

<@ endif @>

<@ if ideals @>
\begin{DndTable}[header=Ideals]{c X}
\textbf{d6} & \textbf{Ideal}\\
<@ for ideal in ideals @>
<# ideal.roll #> & <# ideal.text #>\\
<@ endfor @>
\end{DndTable}

<@ endif @>

<@ if bonds @>
\begin{DndTable}[header=Bonds]{c X}
\textbf{d6} & \textbf{Bond}\\
<@ for bond in bonds @>
<# bond.roll #> & <# bond.text #>\\
<@ endfor @>
\end{DndTable}

<@ endif @>

<@ if flaws @>
\begin{DndTable}[header=Flaws]{c X}
\textbf{d6} & \textbf{Flaw}\\
<@ for flaw in flaws @>
<# flaw.roll #> & <# flaw.text #>\\
<@ endfor @>
\end{DndTable}

<@ endif @>

<@ if variant @>
\begin{DndSidebar}{Variant: <# variant.name #>}
<# variant.description #>
\end{DndSidebar}
<@ endif @>

<@ if source_reference @>
\begin{flushright}
\footnotesize\textit{Source: <# source_reference #>}
\end{flushright}
<@ endif @>
