% Base LaTeX template for D&D 5e documents using DND-5e-LaTeX-Template
% This template provides the foundation for all D&D-style documents

<#-- Build document class line with options --#>
\documentclass[<# class_options | join(', ') #>]{<# document_class | default('dndbook') #>}

<#-- Document configuration --#>
<@ block document_packages @>
% DND-5e-LaTeX-Template provides most styling automatically
% Only include additional packages if needed

<@ if use_custom_fonts @>
% Custom font configuration (only if not using template defaults)
\usepackage{fontspec}
<@ if main_font @>
\setmainfont{<# main_font #>}
<@ endif @>
<@ if sans_font @>
\setsansfont{<# sans_font #>}
<@ endif @>
<@ if mono_font @>
\setmonofont{<# mono_font #>}
<@ endif @>
<@ endif @>

% Additional packages for enhanced functionality
\usepackage{hyperref}
\usepackage{bookmark}
\usepackage{makeidx}

<@ if enable_index @>
\makeindex
<@ endif @>
<@ endblock @>

<#-- Document metadata --#>
<@ block document_metadata @>
<@ if title @>
\title{<# title | latex_escape #>}
<@ endif @>
<@ if subtitle @>
\subtitle{<# subtitle | latex_escape #>}
<@ endif @>
<@ if author @>
\author{<# author | latex_escape #>}
<@ endif @>
<@ if date @>
\date{<# date | latex_escape #>}
<@ endif @>
<@ endblock @>

<#-- Additional configuration --#>
<@ block document_config @>
% Hyperlink configuration optimized for DND template
\hypersetup{
    colorlinks=true,
    linkcolor=DndRed,
    urlcolor=DndRed,
    citecolor=DndRed,
    filecolor=DndRed,
    bookmarks=true,
    bookmarksopen=true,
    bookmarksnumbered=true,
    <@ if title @>
    pdftitle={<# title | latex_escape #>},
    <@ endif @>
    <@ if author @>
    pdfauthor={<# author | latex_escape #>},
    <@ endif @>
    <@ if subject @>
    pdfsubject={<# subject | latex_escape #>},
    <@ else @>
    pdfsubject={D&D 5e Content},
    <@ endif @>
    pdfkeywords={D&D, 5e, RPG, tabletop, <# keywords | default('') | latex_escape #>}
}

<@ if enable_line_numbers @>
% Line numbers for debugging (optional)
\usepackage{lineno}
\linenumbers
<@ endif @>
<@ endblock @>

<#-- Document structure --#>
\begin{document}

<@ block document_header @>
<@ if show_title_page @>
% Title page
\maketitle
\thispagestyle{empty}
\clearpage
<@ endif @>
<@ endblock @>

<@ block table_of_contents @>
<@ if show_toc @>
\tableofcontents
\clearpage
<@ endif @>
<@ endblock @>

<@ block document_body @>
<#-- Main content goes here --#>
<@ endblock @>

<@ block document_footer @>
<@ if show_index @>
\printindex
<@ endif @>
<@ endblock @>

\end{document}
