% Composed base LaTeX template for D&D 5e documents
% Uses component composition for better maintainability and reusability

<#-- Document header with class and basic packages --#>
<@ include "components/document_header.tex.j2" @>

<#-- Document-specific packages block --#>
<@ block document_packages @>
% Document-specific packages go here
% Override this block in extending templates
<@ endblock @>

<#-- Font configuration block --#>
<@ block font_config @>
<@ if use_custom_fonts @>
% Custom font configuration (only if not using template defaults)
\usepackage{fontspec}
<@ if main_font @>
\setmainfont{<# main_font #>}
<@ endif @>
<@ if sans_font @>
\setsansfont{<# sans_font #>}
<@ endif @>
<@ if mono_font @>
\setmonofont{<# mono_font #>}
<@ endif @>
<@ endif @>
<@ endblock @>

<#-- Document configuration --#>
<@ block document_config @>
<@ include "components/document_config.tex.j2" @>
<@ endblock @>

<#-- Additional configuration block --#>
<@ block additional_config @>
% Additional configuration goes here
% Override this block in extending templates
<@ endblock @>

<#-- Begin document --#>
\begin{document}

<#-- Title page block --#>
<@ block title_page @>
<@ if show_title_page @>
\maketitle
\clearpage
<@ endif @>
<@ endblock @>

<#-- Table of contents block --#>
<@ block table_of_contents @>
<@ if include_toc @>
\tableofcontents
\clearpage
<@ endif @>
<@ endblock @>

<#-- Main content block --#>
<@ block main_content @>
% Main document content goes here
% Override this block in extending templates
<@ endblock @>

<#-- Appendices block --#>
<@ block appendices @>
<@ include "components/appendix.tex.j2" @>
<@ endblock @>

\end{document}
