% Book template for D&D 5e adventures and sourcebooks
% Uses dndbook document class for full-featured book layout

<@ extends "base.tex.j2" @>

<@ set document_class = "dndbook" @>
<@ set layout_options = "10pt,a4paper,twoside,bg=print,twocolumn,openany,nodeprecatedcode" @>

<@ block document_packages @>
<# super() #>

% Additional packages for book layout
\usepackage{multicol}
\usepackage{wrapfig}
\usepackage{tikz}
\usepackage{tcolorbox}

% DND book-specific environments
\tcbuselibrary{breakable}
<@ endblock @>

<@ block document_config @>
<# super() #>

% Book-specific configuration
\setlength{\columnsep}{1cm}
\setlength{\columnseprule}{0.1pt}

% Chapter and section styling
\titleformat{\chapter}[display]
    {\normalfont\scshape\Huge\color{DndRed}}
    {\chaptertitlename\ \thechapter}{0pt}{\Huge}

\titleformat{\section}
    {\normalfont\scshape\Large\color{DndRed}}
    {\thesection}{1em}{}

\titleformat{\subsection}
    {\normalfont\scshape\large}
    {\thesubsection}{1em}{}
<@ endblock @>

<@ block document_body @>
<@ for chapter in chapters @>
\chapter{<# chapter.title | latex_escape #>}
<@ if chapter.subtitle @>
\textit{<# chapter.subtitle | latex_escape #>}
<@ endif @>

<@ for section in chapter.sections @>
\section{<# section.title | latex_escape #>}
<# section.content #>

<@ if section.subsections @>
<@ for subsection in section.subsections @>
\subsection{<# subsection.title | latex_escape #>}
<# subsection.content #>
<@ endfor @>
<@ endif @>

<@ endfor @>

<@ if chapter.appendices @>
<@ for appendix in chapter.appendices @>
\section*{<# appendix.title | latex_escape #>}
\addcontentsline{toc}{section}{<# appendix.title | latex_escape #>}
<# appendix.content #>
<@ endfor @>
<@ endif @>

<@ endfor @>

<#-- Render spells if present --#>
<@ if spells @>
\chapter{Spells}
<@ for spell in spells @>
\DndSpellHeader{<# spell.name | latex_escape #>}
{<# spell.level | dnd_spell_level #>}
{<# spell.school | latex_escape #>}
{<# spell.casting_time | latex_escape #>}
{<# spell.range | latex_escape #>}
{<# spell.components | latex_escape #>}
{<# spell.duration | latex_escape #>}

<# spell.description #>

<@ if spell.higher_levels @>
\DndSpellHigherLevels{<# spell.higher_levels #>}
<@ endif @>

<@ endfor @>
<@ endif @>

<#-- Render creatures if present --#>
<@ if creatures @>
\chapter{Creatures}
<@ for creature in creatures @>
\DndMonster{<# creature.name | latex_escape #>}
{<# creature.size | latex_escape #> <# creature.type | latex_escape #>, <# creature.alignment | latex_escape #>}
{<# creature.ac.value #>}
{<# creature.ac.notes | latex_escape #>}
{<# creature.hp.average #>}
{<# creature.hp.formula | latex_escape #>}
{<# creature.speed | latex_escape #>}
{<# creature.str #>}
{<# creature.dex #>}
{<# creature.con #>}
{<# creature.int #>}
{<# creature.wis #>}
{<# creature.cha #>}
{<# creature.skills | latex_escape #>}
{<# creature.damage_immunities | latex_escape #>}
{<# creature.condition_immunities | latex_escape #>}
{<# creature.senses | latex_escape #>}
{<# creature.languages | latex_escape #>}
{<# creature.cr | dnd_challenge_rating #>}

<@ if creature.traits @>
<@ for trait in creature.traits @>
\DndMonsterAction{<# trait.name | latex_escape #>}
<# trait.description #>
<@ endfor @>
<@ endif @>

<@ if creature.actions @>
\DndMonsterSection{Actions}
<@ for action in creature.actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

<@ if creature.legendary_actions @>
\DndMonsterSection{Legendary Actions}
<@ for action in creature.legendary_actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

<@ endfor @>
<@ endif @>

<#-- Render items if present --#>
<@ if items @>
\chapter{Magic Items}
<@ for item in items @>
\subsection{<# item.name | latex_escape #>}
\textit{<# item.type | latex_escape #><@ if item.rarity @>, <# item.rarity | latex_escape #><@ endif @><@ if item.requires_attunement @> (requires attunement)<@ endif @>}

<# item.description #>

<@ if item.properties @>
\textbf{Properties:} <# item.properties | latex_escape #>
<@ endif @>

<@ endfor @>
<@ endif @>
<@ endblock @>
