% Entry template for creature rendering using EntryRenderer
\subsection{<# creature.name | latex_escape #>}
\textit{<# size_type_alignment | latex_escape #>}

\textbf{Armor Class} <# ac_text | latex_escape #> \\
\textbf{Hit Points} <# hp_text | latex_escape #> \\
\textbf{Speed} <# speed_text | latex_escape #>

\begin{center}
\begin{tabular}{|c|c|c|c|c|c|}
\hline
\textbf{STR} & \textbf{DEX} & \textbf{CON} & \textbf{INT} & \textbf{WIS} & \textbf{CHA} \\
\hline
<# ability_scores.str | latex_escape #> & <# ability_scores.dex | latex_escape #> & <# ability_scores.con | latex_escape #> & <# ability_scores.int | latex_escape #> & <# ability_scores.wis | latex_escape #> & <# ability_scores.cha | latex_escape #> \\
\hline
\end{tabular}
\end{center}

<@ if saving_throws @>\textbf{Saving Throws} <# saving_throws | latex_escape #> \\<@ endif @>
<@ if skills @>\textbf{Skills} <# skills | latex_escape #> \\<@ endif @>
<@ if damage_resistances @>\textbf{Damage Resistances} <# damage_resistances | latex_escape #> \\<@ endif @>
<@ if damage_immunities @>\textbf{Damage Immunities} <# damage_immunities | latex_escape #> \\<@ endif @>
<@ if damage_vulnerabilities @>\textbf{Damage Vulnerabilities} <# damage_vulnerabilities | latex_escape #> \\<@ endif @>
<@ if condition_immunities @>\textbf{Condition Immunities} <# condition_immunities | latex_escape #> \\<@ endif @>
<@ if senses @>\textbf{Senses} <# senses | latex_escape #> \\<@ endif @>
<@ if languages @>\textbf{Languages} <# languages | latex_escape #> \\<@ endif @>
\textbf{Challenge} <# cr_text | latex_escape #>

<@ if formatted_abilities.traits @>
<@ for trait in formatted_abilities.traits @>
\textbf{<# trait.name | latex_escape #>.} <# trait.description | safe #>

<@ endfor @>
<@ endif @>

<@ if formatted_abilities.actions @>
\subsubsection{Actions}
<@ for action in formatted_abilities.actions @>
\textbf{<# action.name | latex_escape #>.} <# action.description | safe #>

<@ endfor @>
<@ endif @>

<@ if formatted_abilities.legendary @>
\subsubsection{Legendary Actions}
<@ for legendary in formatted_abilities.legendary @>
\textbf{<# legendary.name | latex_escape #>.} <# legendary.description | safe #>

<@ endfor @>
<@ endif @>

<@ if formatted_abilities.reactions @>
\subsubsection{Reactions}
<@ for reaction in formatted_abilities.reactions @>
\textbf{<# reaction.name | latex_escape #>.} <# reaction.description | safe #>

<@ endfor @>
<@ endif @>

<@ if formatted_abilities.bonus @>
\subsubsection{Bonus Actions}
<@ for bonus in formatted_abilities.bonus @>
\textbf{<# bonus.name | latex_escape #>.} <# bonus.description | safe #>

<@ endfor @>
<@ endif @>
