% Enhanced feat template using DND-5e-LaTeX-Template environments
% Designed for D&D feat rendering

<@ if use_subsection @>
\subsection{<# name #>}
<@ else @>
\paragraph{<# name #>}
<@ endif @>

<@ if prerequisite @>
\textit{Prerequisite: <# prerequisite #>}

<@ endif @>

<# description #>

<@ if ability_score_improvement @>
\begin{DndComment}{Ability Score Improvement}
<# ability_score_improvement #>
\end{DndComment}
<@ endif @>

<@ if source_reference @>
\begin{flushright}
\footnotesize\textit{Source: <# source_reference #>}
\end{flushright}
<@ endif @>
