% Simple item template for backward compatibility
\subsection{<# name #>}
\textit{<# type_text #><# rarity_text #>}

<# description #>

<@ if properties @>
\textbf{Properties:} <# properties #>
<@ endif @>
