% Entry template for item rendering using EntryRenderer
\subsection{<# item.name | latex_escape #>}
<@ if metadata_line @>\textit{<# metadata_line | latex_escape #>}<@ endif @>

<@ if ac_text @>\textbf{Armor Class:} <# ac_text | latex_escape #> \\<@ endif @>
<@ if damage_text @>\textbf{Damage:} <# damage_text | latex_escape #> \\<@ endif @>
<@ if range_text @>\textbf{Range:} <# range_text | latex_escape #> \\<@ endif @>
<@ if properties @>\textbf{Properties:} <# properties|join(", ") | latex_escape #> \\<@ endif @>
<@ if weight_text @>\textbf{Weight:} <# weight_text | latex_escape #> \\<@ endif @>
<@ if value_text @>\textbf{Value:} <# value_text | latex_escape #> \\<@ endif @>
<@ if charges_text @>\textbf{Charges:} <# charges_text | latex_escape #> \\<@ endif @>

<# description_text | safe #>
