<#-- Section template for structured document content --#>
<#-- This template renders individual ContentSection objects --#>

<@ if section.page_break_before @>
\clearpage
<@ endif @>

<#-- Generate section command based on level --#>
<@ if section.level == 'part' @>
\part{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>

<@ elif section.level == 'chapter' @>
<@ if section.numbered @>
\chapter{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\chapter*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ elif section.level == 'section' @>
<@ if section.numbered @>
\section{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\section*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ elif section.level == 'subsection' @>
<@ if section.numbered @>
\subsection{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\subsection*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ elif section.level == 'subsubsection' @>
<@ if section.numbered @>
\subsubsection{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\subsubsection*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ elif section.level == 'paragraph' @>
<@ if section.numbered @>
\paragraph{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\paragraph*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ elif section.level == 'subparagraph' @>
<@ if section.numbered @>
\subparagraph{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ else @>
\subparagraph*{<# section.title | latex_escape #>}<@ if section.label @>\label{<# section.label #>}<@ endif @>
<@ endif @>

<@ endif @>

<#-- Column layout control --#>
<@ if section.two_column is not none @>
<@ if section.two_column @>
\begin{twocolumn}
<@ else @>
\begin{onecolumn}
<@ endif @>
<@ endif @>

<#-- Render content items in this section --#>
<@ if section.content_items @>
<@ for content_item in section.content_items @>
<#-- Content items will be rendered by content renderers --#>
<#-- This is a placeholder that will be replaced by actual content --#>
% Content: <# content_item.name | latex_escape #> (<# content_item.__class__.__name__ #>)
<@ endfor @>
<@ endif @>

<#-- Render subsections recursively --#>
<@ if section.subsections @>
<@ for subsection in section.subsections @>
<@ with section=subsection @>
<@ include 'section.tex.j2' @>
<@ endwith @>
<@ endfor @>
<@ endif @>

<#-- Close column layout --#>
<@ if section.two_column is not none @>
<@ if section.two_column @>
\end{twocolumn}
<@ else @>
\end{onecolumn}
<@ endif @>
<@ endif @>

<@ if section.page_break_after @>
\clearpage
<@ endif @>
