% Simple spell template for backward compatibility
\subsection{<# name #>}
\textit{<# level_text #> <# school #>}

\textbf{Casting Time:} <# casting_time #> \\
\textbf{Range:} <# range_text #> \\
\textbf{Components:} <# components_text #> \\
\textbf{Duration:} <# duration_text #>

<# description #>

<@ if higher_levels @>
\textbf{At Higher Levels.} <# higher_levels #>
<@ endif @>
