% Entry template for spell rendering using EntryRenderer
\subsection{<# spell.name | latex_escape #>}
\textit{<# level_text | latex_escape #> <# spell.school | latex_escape #>}

\textbf{Casting Time:} <# casting_time | latex_escape #> \\
\textbf{Range:} <# range_text | latex_escape #> \\
\textbf{Components:} <# components_text | latex_escape #> \\
\textbf{Duration:} <# duration_text | latex_escape #>

<# description_text | safe #>

<@ if higher_level_text @>
\textbf{At Higher Levels.} <# higher_level_text | safe #>
<@ endif @>
