% Supplement template for D&D 5e spell lists and item collections
% Uses dndbook document class with supplement-specific layout

<@ extends "base.tex.j2" @>

<@ set document_class = "dndbook" @>
<@ set layout_options = "10pt,a4paper,twoside,bg=print,twocolumn,openany,nodeprecatedcode" @>

<@ block document_packages @>
<# super() #>

% Additional packages for supplement layout
\usepackage{multicol}
\usepackage{wrapfig}
\usepackage{tikz}
\usepackage{tcolorbox}
\usepackage{makeidx}

% Index generation
\makeindex
<@ endblock @>

<@ block document_config @>
<# super() #>

% Supplement-specific configuration
\setlength{\columnsep}{1cm}
\setlength{\columnseprule}{0.1pt}

% Compact section styling for supplements
\titleformat{\section}
    {\normalfont\scshape\large\color{DndRed}}
    {\thesection}{1em}{}

\titleformat{\subsection}
    {\normalfont\scshape\normalsize}
    {\thesubsection}{1em}{}

% Tighter spacing for supplement content
\setlength{\parskip}{0.5em}
\setlength{\itemsep}{0.25em}
<@ endblock @>

<@ block document_body @>
<@ if introduction @>
\section*{Introduction}
<# introduction #>
<@ endif @>

<#-- Render spells organized by level --#>
<@ if spells @>
<@ if spells_by_level @>
<@ for level, spell_list in spells_by_level.items() @>
\section{<@ if level == 0 @>Cantrips<@ else @>Level <# level #> Spells<@ endif @>}

<@ for spell in spell_list @>
\DndSpellHeader{<# spell.name | latex_escape #>}
{<# spell.level | dnd_spell_level #>}
{<# spell.school | latex_escape #>}
{<# spell.casting_time | latex_escape #>}
{<# spell.range | latex_escape #>}
{<# spell.components | latex_escape #>}
{<# spell.duration | latex_escape #>}

<# spell.description #>

<@ if spell.higher_levels @>
\DndSpellHigherLevels{<# spell.higher_levels #>}
<@ endif @>

\index{<# spell.name | latex_escape #>}

<@ endfor @>
<@ endfor @>

<@ else @>
\section{Spells}
<@ for spell in spells @>
\DndSpellHeader{<# spell.name | latex_escape #>}
{<# spell.level | dnd_spell_level #>}
{<# spell.school | latex_escape #>}
{<# spell.casting_time | latex_escape #>}
{<# spell.range | latex_escape #>}
{<# spell.components | latex_escape #>}
{<# spell.duration | latex_escape #>}

<# spell.description #>

<@ if spell.higher_levels @>
\DndSpellHigherLevels{<# spell.higher_levels #>}
<@ endif @>

\index{<# spell.name | latex_escape #>}

<@ endfor @>
<@ endif @>
<@ endif @>

<#-- Render items organized by type --#>
<@ if items @>
<@ if items_by_type @>
<@ for item_type, item_list in items_by_type.items() @>
\section{<# item_type | latex_escape #>}

<@ for item in item_list @>
\subsection{<# item.name | latex_escape #>}
\textit{<# item.type | latex_escape #><@ if item.rarity @>, <# item.rarity | latex_escape #><@ endif @><@ if item.requires_attunement @> (requires attunement)<@ endif @>}

<# item.description #>

<@ if item.properties @>
\textbf{Properties:} <# item.properties | latex_escape #>
<@ endif @>

\index{<# item.name | latex_escape #>}

<@ endfor @>
<@ endfor @>

<@ else @>
\section{Magic Items}
<@ for item in items @>
\subsection{<# item.name | latex_escape #>}
\textit{<# item.type | latex_escape #><@ if item.rarity @>, <# item.rarity | latex_escape #><@ endif @><@ if item.requires_attunement @> (requires attunement)<@ endif @>}

<# item.description #>

<@ if item.properties @>
\textbf{Properties:} <# item.properties | latex_escape #>
<@ endif @>

\index{<# item.name | latex_escape #>}

<@ endfor @>
<@ endif @>
<@ endif @>

<#-- Render creatures organized by CR --#>
<@ if creatures @>
<@ if creatures_by_cr @>
<@ for cr, creature_list in creatures_by_cr.items() @>
\section{Challenge Rating <# cr | dnd_challenge_rating #>}

<@ for creature in creature_list @>
\DndMonster{<# creature.name | latex_escape #>}
{<# creature.size | latex_escape #> <# creature.type | latex_escape #>, <# creature.alignment | latex_escape #>}
{<# creature.ac.value #>}
{<# creature.ac.notes | latex_escape #>}
{<# creature.hp.average #>}
{<# creature.hp.formula | latex_escape #>}
{<# creature.speed | latex_escape #>}
{<# creature.str #>}
{<# creature.dex #>}
{<# creature.con #>}
{<# creature.int #>}
{<# creature.wis #>}
{<# creature.cha #>}
{<# creature.skills | latex_escape #>}
{<# creature.damage_immunities | latex_escape #>}
{<# creature.condition_immunities | latex_escape #>}
{<# creature.senses | latex_escape #>}
{<# creature.languages | latex_escape #>}
{<# creature.cr | dnd_challenge_rating #>}

<@ if creature.traits @>
<@ for trait in creature.traits @>
\DndMonsterAction{<# trait.name | latex_escape #>}
<# trait.description #>
<@ endfor @>
<@ endif @>

<@ if creature.actions @>
\DndMonsterSection{Actions}
<@ for action in creature.actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

<@ if creature.legendary_actions @>
\DndMonsterSection{Legendary Actions}
<@ for action in creature.legendary_actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

\index{<# creature.name | latex_escape #>}

<@ endfor @>
<@ endfor @>

<@ else @>
\section{Creatures}
<@ for creature in creatures @>
\DndMonster{<# creature.name | latex_escape #>}
{<# creature.size | latex_escape #> <# creature.type | latex_escape #>, <# creature.alignment | latex_escape #>}
{<# creature.ac.value #>}
{<# creature.ac.notes | latex_escape #>}
{<# creature.hp.average #>}
{<# creature.hp.formula | latex_escape #>}
{<# creature.speed | latex_escape #>}
{<# creature.str #>}
{<# creature.dex #>}
{<# creature.con #>}
{<# creature.int #>}
{<# creature.wis #>}
{<# creature.cha #>}
{<# creature.skills | latex_escape #>}
{<# creature.damage_immunities | latex_escape #>}
{<# creature.condition_immunities | latex_escape #>}
{<# creature.senses | latex_escape #>}
{<# creature.languages | latex_escape #>}
{<# creature.cr | dnd_challenge_rating #>}

<@ if creature.traits @>
<@ for trait in creature.traits @>
\DndMonsterAction{<# trait.name | latex_escape #>}
<# trait.description #>
<@ endfor @>
<@ endif @>

<@ if creature.actions @>
\DndMonsterSection{Actions}
<@ for action in creature.actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

<@ if creature.legendary_actions @>
\DndMonsterSection{Legendary Actions}
<@ for action in creature.legendary_actions @>
\DndMonsterAction{<# action.name | latex_escape #>}
<# action.description #>
<@ endfor @>
<@ endif @>

\index{<# creature.name | latex_escape #>}

<@ endfor @>
<@ endif @>
<@ endif @>

<#-- Custom sections --#>
<@ if sections @>
<@ for section in sections @>
\section{<# section.title | latex_escape #>}
<# section.content #>

<@ if section.subsections @>
<@ for subsection in section.subsections @>
\subsection{<# subsection.title | latex_escape #>}
<# subsection.content #>
<@ endfor @>
<@ endif @>

<@ endfor @>
<@ endif @>
<@ endblock @>
