% Studiorum Gallery Render Block (Phase 3)
% Renders multi-image galleries using \StudiorumImage inside subfigure containers.
% Supported layouts here: grid, sequential, comparison.

<@ set fig_place = env_placement or "htbp" @>
\begin{figure}[<# fig_place #>]
    \centering
<@ if title @>
    % Gallery: <# title | latex_escape #>
<@ endif @>

<@ if layout == 'grid' @>
    <@ set cols = columns or 2 @>
    <@ for image in images @>
    \begin{subfigure}{<# image.subfigure_width or image_width or '0.48\\textwidth' #>}
        \centering
        % Inline placement macro inside subfigure
        \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
        <@ if image.title @>\caption{<# image.title | latex_escape #>}<@ endif @>
    \end{subfigure}
    <@ if not loop.last @>
        <@ if (loop.index0 + 1) % cols != 0 @>\hfill<@ else @>\\[1em]<@ endif @>
    <@ endif @>
    <@ endfor @>
<@ elif layout == 'sequential' @>
    <@ for image in images @>
    \begin{subfigure}{<# image.subfigure_width or image_width or '0.8\\textwidth' #>}
        \centering
        \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
        <@ if image.title @>\caption{<# image.title | latex_escape #>}<@ endif @>
    \end{subfigure}
    <@ if not loop.last @>\\[<# gallery_margin or '1em' #>]<@ endif @>
    <@ endfor @>
<@ elif layout == 'comparison' @>
    <@ for image in images @>
    \begin{subfigure}{<# image.subfigure_width or per_image_width or '0.45\\textwidth' #>}
        \centering
        \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
        <@ if image.title @>\caption{<# image.title | latex_escape #>}<@ endif @>
    \end{subfigure}
    <@ if not loop.last @>\hfill<@ endif @>
    <@ endfor @>
<@ elif layout == 'showcase' @>
    % Enhanced Showcase Gallery: <# title | default('') | latex_escape #>

    <@ if decorative_enabled @>
    % Showcase decorative header (template version)
    \begin{tikzpicture}
        \node[color=<# decorative_color #>,font=\Large\bfseries] at (0,0) {<# title | default('Featured Gallery') | latex_escape #>};
        \draw[line width=0.8pt,color=<# decorative_color #>!40] (-0.5\textwidth,-0.35) -- (0.5\textwidth,-0.35);
    \end{tikzpicture}
    <@ endif @>

    <@ if images and images|length > 0 @>
    <@ set main = images[0] @>
    <@ if decorative_enabled and featured_borders @>
    % Featured image with decorative border
    \begin{tikzpicture}
        \node[inner sep=0pt] (image) at (0,0) {
            \begin{subfigure}{<# main_width or '0.7\\textwidth' #>}
                \centering
                \StudiorumImage<@ if main.options @>[<# main.options #>]<@ endif @>{inline}{<# main.path #>}{ }
                <@ if main.title @>\caption*{\textit{<# main.title | latex_escape #>}}<@ endif @>
            \end{subfigure}
        };
        \draw[line width=2pt,color=<# decorative_color #>] ([xshift=-5pt,yshift=5pt]image.north west) rectangle ([xshift=5pt,yshift=-5pt]image.south east);
        \draw[line width=1pt,color=<# decorative_color #>!50] ([xshift=-10pt,yshift=10pt]image.north west) rectangle ([xshift=10pt,yshift=-10pt]image.south east);
    \end{tikzpicture}
    <@ else @>
    % Standard featured image (plain)
    \begin{subfigure}{<# main_width or '0.7\\textwidth' #>}
        \centering
        \StudiorumImage<@ if main.options @>[<# main.options #>]<@ endif @>{inline}{<# main.path #>}{ }
        <@ if main.title @>\caption{<# main.title | latex_escape #>}<@ endif @>
    \end{subfigure}
    <@ endif @>

    <@ if images|length > 1 @>
        <@ if decorative_enabled @>
        \\\\[1em]
        % Decorative thumbnail separator
        \begin{tikzpicture}
            \draw[line width=1pt,color=<# decorative_color #>!30] (0,0) -- (0.8\textwidth,0);
            \node[circle,fill=<# decorative_color #>!20,inner sep=3pt] at (0.4\textwidth,0) {};
        \end{tikzpicture}
        \\\\[0.5em]
        <@ else @>
        \\\\[1em]
        <@ endif @>

        <@ for image in images[1:] @>
        <@ set iw = thumb_width or '0.15\\textwidth' @>
        <@ if decorative_enabled @>
        \begin{tikzpicture}
            \node[inner sep=0pt] (thumb) at (0,0) {
                \begin{subfigure}{<# iw #>}
                    \centering
                    \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
                \end{subfigure}
            };
            \draw[line width=0.5pt,color=<# decorative_color #>!40] (thumb.north west) rectangle (thumb.south east);
        \end{tikzpicture}
        <@ else @>
        \begin{subfigure}{<# iw #>}
            \centering
            \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
        \end{subfigure}
        <@ endif @>
        <@ if not loop.last @>\hfill<@ endif @>
        <@ endfor @>
    <@ endif @>
    <@ endif @>

    <@ if caption @>
        <@ if decorative_enabled @>
        \\\\[1em]
        % Decorative caption
        \textcolor{<# decorative_color #>}{\rule{0.3\textwidth}{0.5pt}}
        \caption{\textit{<# caption | latex_escape #>}}
        \textcolor{<# decorative_color #>}{\rule{0.3\textwidth}{0.5pt}}
        <@ else @>
        \caption{<# caption | latex_escape #>}
        <@ endif @>
    <@ endif @>

<@ else @>
    % Unsupported layout passed to gallery render block
    % Fallback: sequential
    <@ for image in images @>
    \begin{subfigure}{<# image.subfigure_width or image_width or '0.8\\textwidth' #>}
        \centering
        \StudiorumImage<@ if image.options @>[<# image.options #>]<@ endif @>{inline}{<# image.path #>}{ }
        <@ if image.title @>\caption{<# image.title | latex_escape #>}<@ endif @>
    \end{subfigure}
    <@ if not loop.last @>\\[<# gallery_margin or '1em' #>]<@ endif @>
    <@ endfor @>
<@ endif @>

<@ if caption and layout != 'showcase' @>
    \caption{<# caption | latex_escape #>}
<@ endif @>
\end{figure}
