<#-- A 5etools gallery (emit.py): a two-column grid of subfigures --#>
\begin{figure}[htbp]
    \centering
<@ for image in images @>
    \begin{subfigure}{0.48\linewidth}
        \centering
        \StudiorumImageInlineNoCaption{<# image.path #>}
<@ if image.caption @>
        \caption{<# image.caption #>}
<@ endif @>
    \end{subfigure}
<@ if not loop.last @>
<@ if loop.index is odd @>    \hfill<@ else @>    \\[1em]<@ endif @>

<@ endif @>
<@ endfor @>
<@ if caption @>
    \caption{<# caption #>}
<@ endif @>
\end{figure}
