% Shared item rendering block for use in both itemcompendium and item_entry templates
% This macro can be included by both templates to ensure consistent rendering

<@ from "_entry_macros.tex.j2" import smart_render_entry with context @>

<@ macro render_item(item, template_service=template_service, content_tracker=content_tracker, entry_processor=entry_processor, rendering_context=rendering_context) @>
% Item header with name and metadata
<@ if item.get_item_metadata_line() @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_item_metadata_line() | latex_escape #>}
<@ else @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_type_text() | latex_escape #>}
<@ endif @>

% Item statistics for weapons, armor, etc.
<@ if item.get_value_text() @>
\textit{<# item.get_value_text() | latex_escape #>}
<@ endif @>

% Item description
<@ if item.entries @>
<# smart_render_entry(item, entry_processor, rendering_context) #>
<@ elif description_text is defined and description_text @>
<# description_text | latex_escape #>
<@ endif @>
<@ endmacro @>
