% Bestiary template using composition pattern
% Extends base_composed.tex.j2 for consistent document structure

<@ extends "base_composed.tex.j2" @>

<#-- Document-specific packages --#>
<@ block document_packages @>
% Bestiary-specific packages for creature stat blocks
\usepackage{multicol}
\usepackage{float}
<@ endblock @>

<#-- Additional configuration for bestiary layout --#>
<@ block additional_config @>
% Configure stat block formatting
\usepackage{placeins}  % For \FloatBarrier

% Set up creature stat block environments
<@ if two_column @>
\setlength{\columnsep}{0.8cm}
<@ endif @>
<@ endblock @>

<#-- Main bestiary content --#>
<@ block main_content @>
<@ if creature_groups @>
<@ for group in creature_groups @>
\chapter{<# group.title | latex_escape #>}
<@ if group.description @>
<# group.description | latex_escape #>

<@ endif @>

<@ if two_column @>
\begin{multicols}{2}
<@ set in_multicols = True @>
<@ endif @>

<@ for creature in group.creatures @>
<@ include '_creature_render_block.tex.j2' @>
<@ if not loop.last @>
\FloatBarrier
<@ endif @>
<@ endfor @>

<@ if two_column @>
\end{multicols}
<@ set in_multicols = False @>
<@ endif @>

<@ endfor @>
<@ else @>
<#-- Single list of creatures --#>
\chapter{Creatures}

<@ if two_column @>
\begin{multicols}{2}
<@ set in_multicols = True @>
<@ endif @>

<@ for creature in creatures @>
<@ include '_creature_render_block.tex.j2' @>
<@ if not loop.last @>
\FloatBarrier
<@ endif @>
<@ endfor @>

<@ if two_column @>
\end{multicols}
<@ set in_multicols = False @>
<@ endif @>
<@ endif @>
<@ endblock @>
