% Spellbook template for D&D 5e spells with level grouping
% Uses dndbook document class with structured spell organization

<@ extends "base.tex.j2" @>

<@ block document_packages @>
<# super() #>

% Additional packages for spellbook layout
\usepackage{multicol}
\usepackage{enumitem}
\usepackage{tcolorbox}
\usepackage{titlesec}

% Enhanced list environments for spell details
\tcbuselibrary{breakable}
<@ endblock @>

<@ block document_config @>
<# super() #>

% Enhanced section styling for spellbook
% DND-5e-LaTeX-Template provides all styling automatically

% Configure for spellbook structure
\setcounter{secnumdepth}{0}  % No section numbers for cleaner look
\setcounter{tocdepth}{2}     % Include subsections in table of contents
<@ endblock @>

<@ block table_of_contents @>
<@ if show_spell_table_of_contents @>
\tableofcontents
\clearpage
<@ endif @>
<@ endblock @>

<@ block document_structure @>
<#-- Spellbook introduction --#>

<@ from "_entry_macros.tex.j2" import smart_render_entry with context @>

<#-- Main spellbook content organized by level --#>
<@ if spells_by_level @>
<@ for level, spell_list in spells_by_level.items() @>

<#-- Level header --#>
<@ if level == 0 @>
\section{Cantrips}
<@ elif level == 999 @>
\section{Spells}
<@ else @>
\section{<# ordinal(level) #> Level Spells}
<@ endif @>

\vspace{0.5em}

<#-- Spells in this level --#>
<@ for spell in spell_list @>
<@ if show_spell_table_of_contents @>
\addcontentsline{toc}{subsection}{<# spell.name | latex_escape #>}
<@ endif @>
\DndSpellHeader%
  {<# spell.name | latex_escape #>}
  {<# spell.get_level_text() | latex_escape #>}
  {<# spell.get_casting_time_text() | latex_escape #>}
  {<# spell.get_range_text() | latex_escape #>}
  {<# spell.get_components_text() | latex_escape #>}
  {<# spell.get_duration_text() | latex_escape #>}

<# smart_render_entry(spell, entry_processor, rendering_context) #>

<@ if spell.higher_level @>
<@ for hl_entry in spell.higher_level @>

\paragraph{<# hl_entry.name | latex_escape #>} <# smart_render_entry(hl_entry, entry_processor, rendering_context) #>
<@ endfor @>
<@ endif @>

<@ if not loop.last @>
\vspace{0.8em}
<@ endif @>
<@ endfor @>

<@ if not loop.last @>
\vspace{1.5em}
<@ endif @>
<@ endfor @>

<@ else @>
<#-- Fallback: render spells without level grouping --#>
<@ for spell in spells @>
<@ if show_spell_table_of_contents @>
\addcontentsline{toc}{subsection}{<# spell.name | latex_escape #>}
<@ endif @>
\DndSpellHeader%
  {<# spell.name | latex_escape #>}
  {<# spell.get_level_text() | latex_escape #>}
  {<# spell.get_casting_time_text() | latex_escape #>}
  {<# spell.get_range_text() | latex_escape #>}
  {<# spell.get_components_text() | latex_escape #>}
  {<# spell.get_duration_text() | latex_escape #>}

<# smart_render_entry(spell, entry_processor, rendering_context) #>

<@ if spell.higher_level @>
<@ for hl_entry in spell.higher_level @>

\paragraph{<# hl_entry.name | latex_escape #>} <# smart_render_entry(hl_entry, entry_processor, rendering_context) #>
<@ endfor @>
<@ endif @>

<@ if not loop.last @>
\vspace{1em}
<@ endif @>
<@ endfor @>
<@ endif @>

<@ endblock @>
