% Item compendium template for D&D 5e items with type/rarity grouping
% Uses dndbook document class with structured item organization

<@ extends "base.tex.j2" @>

<@ block document_packages @>
<# super() #>

% Additional packages for item compendium layout
\usepackage{multicol}
\usepackage{enumitem}
\usepackage{tcolorbox}
\usepackage{titlesec}
\usepackage{tabularx}
\usepackage{array}

% Enhanced list environments for item details
\tcbuselibrary{breakable}
<@ endblock @>

<@ block document_config @>
<# super() #>

% Enhanced section styling for item compendium
% DND-5e-LaTeX-Template provides all styling automatically

% Configure for item compendium structure
\setcounter{secnumdepth}{0}  % No section numbers for cleaner look
\setcounter{tocdepth}{2}     % Include subsections in table of contents
<@ endblock @>

<@ block table_of_contents @>
<@ if show_item_table_of_contents @>
\tableofcontents
\clearpage
<@ endif @>
<@ endblock @>

<@ block document_structure @>
<#-- Item compendium introduction --#>

<#-- Main item compendium content organized by groups --#>
<@ if items_by_group @>
<@ for group_name, item_list in items_by_group.items() @>

<#-- Group header --#>
<@ if group_name == "All Items" @>
\section{Items}
<@ else @>
\section{<# group_name | title | latex_escape #>}
<@ endif @>

\vspace{0.5em}

<#-- Items in this group --#>
<@ for item in item_list @>
<@ if show_item_table_of_contents @>
\addcontentsline{toc}{subsection}{<# item.name | latex_escape #>}
<@ endif @>

% Item header with name and metadata
<@ if item.get_item_metadata_line() @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_item_metadata_line() | latex_escape #>}
<@ else @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_type_text() | latex_escape #>}
<@ endif @>

% Item statistics for weapons, armor, etc.
<@ if item.get_value_text() @>
\textit{<# item.get_value_text() | latex_escape #>}

<@ endif @>

% Item properties integrated into description

% Item description
<@ if item.get_description_text() @>

<# item.get_description_text() | clean_jinja_comments | safe #>
<@ endif @>

<@ if not loop.last @>
\vspace{0.8em}
<@ endif @>
<@ endfor @>

<@ if not loop.last @>
\vspace{1.5em}
<@ endif @>
<@ endfor @>

<@ else @>
<#-- Fallback: render items without grouping --#>
\section{Items}

<@ for item in items @>
<@ if show_item_table_of_contents @>
\addcontentsline{toc}{subsection}{<# item.name | latex_escape #>}
<@ endif @>

% Item header with name and metadata
<@ if item.get_item_metadata_line() @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_item_metadata_line() | latex_escape #>}
<@ else @>
\DndItemHeader{<# item.name | latex_escape #>}{<# item.get_type_text() | latex_escape #>}
<@ endif @>

% Item statistics for weapons, armor, etc.
<@ if item.get_value_text() @>
\textit{<# item.get_value_text() | latex_escape #>}

<@ endif @>

% Item properties integrated into description

% Item description
<@ if item.get_description_text() @>

<# item.get_description_text() | clean_jinja_comments | safe #>
<@ endif @>

<@ if not loop.last @>
\vspace{1em}
<@ endif @>
<@ endfor @>
<@ endif @>

<@ endblock @>
